/* 
	--------------------------------------------------------------------
	--------------------------------------------------------------------
	This file is part of NZ Running Stats.

    NZ Running Stats is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    NZ Running Stats is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with NZ Running Stats.  If not, see <http://www.gnu.org/licenses/>. 
    --------------------------------------------------------------------
    --------------------------------------------------------------------
-*/



body { 
	font-family: Arial; 
	min-width:1200px;
	width:100%;
	margin:0px;
}



.linkspan{

	padding: 3px; 
	background-color:rgb(87,89,93, 0.8);
	color:white;
	margin-right:20px;
	font-size:18px;
	
}


.linkspan.smallfont{


	font-size:13px;
	
}




.maintitle{
	font-size: 70px; 
	margin-bottom: -5px;
}

.subtitle{
	font-size: 20px;
}


.linkspan:hover{
	
	background-color:rgb(87,89,93, 1);
}



a {
	
	text-decoration:none;
	
}


.tabs-bg{

	width:100%; 
	background-color:#d3d3d3; 
	height:26px; 
	padding: 12 0 0 0;  
	border-radius:0px 0px 5px 5px;
	-webkit-border-radius:0px 0px 5px 5px;
	-moz-border-radius:0px 0px 5px 5px;

}


.header {
	background-color: #57595D;
	color:white;
	%min-width:1500px;
	width:100%;
	vertical-align:top;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
	font-family: "Arial";
	%box-shadow: 5px 4px 8px 0 #424f4f, 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tab{
	
	padding: 2px 10px 5px 10px;
	margin-right:10px;
	background-color:rgb(87,89,93, 0.8);
	border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	font-size:18px;
	color:white;
	cursor:pointer;
	
}

.tab:hover{
	
	background-color:rgb(87,89,93, 1);
}



.tab.selected{
	%font-weight:bold;
	background-color:white;
	color:black;
	cursor:auto;
	padding-bottom:6px;
}

.userInput{
	
	font-size: 16px; 
	color:black; 
	%background-color:rgb(87,89,93, 0.8); 
	padding: 3px 3px;
	%width:170px;
	
	
}


.userInput.fw{

	width:5em;

	
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
	-moz-appearance:textfield;
	margin:0;
}



.display-div{
	
	width:70%; 
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px; 
	padding-bottom: 10px; 
	margin-bottom:30px;
	background-color: white;
	text-align:center

}

.caption-div{
	width:70%; 
	text-align:justify; 
	margin:auto; 
	line-height: 1.3em
	
}


.anova-bar-odd {
	fill:rgb(87,89,93, 0.8); %#57595D;
	stroke-width:0;
	stroke:black;
	%fill-opacity: 0.7;
	 
}

.query{
	
	 background-color:#d3d3d3;
	 %border:solid;
	 %border-width:3px;
	 %border-color:rgb(87,89,93, 1);
	 font-size:15px;
	 text-align:center; 
	 padding: 10px 10px; 
	 margin-top:5px;
	 %border-radius:6px;
	 line-height:2em;
}

.anova-bar-odd.selected  {
	fill:rgb(87,89,93, 1);
	stroke-width:0;
	stroke:black;
	%fill-opacity: 1;
}



.anova-bar-even {
	fill: rgb(0,154,205, 0.8); %  rgb(250,190,40, 0.8); %#FABE28;
	stroke-width:0;
	stroke:black;
	%fill-opacity: 0.7;
	
}


.anova-bar-even.selected {
	fill:rgb(0,154,205,  1); % rgb(250,190,40,1);
	stroke-width:0;
	stroke:black;
	%fill-opacity: 1;
}

.results-row{

	font-size:14px;
	font-family: Arial; 
	
}


.header-row{

	color:white;
	background-color:#57595D;
	font-size:14px;
	
}



.results-row:nth-child(odd){
	background-color:rgb(87,89,93, 0.2);
}


.results-row:nth-child(even){
	%background-color:#d3d3d3;
}


.error-bar-odd {
	stroke:rgb(0,154,205,  1); %rgb(250,190,40,1);
	fill:rgb(0,154,205,  1); %rgb(250,190,40,1);
	stroke-width:2.5;
	 
}


.error-bar-odd.selected {
	stroke-width:4;
	 
}



.error-bar-even {
	stroke:rgb(87,89,93, 1);
	fill:rgb(87,89,93, 1);
	stroke-width:2.5;
	 
}

.error-bar-even.selected {
	stroke-width:4;
	 
}

.header-row {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

td b{
	display: block;
	
}

td b.sort-by { 
	padding-right: 18px;
	position: relative;
	cursor:pointer;
}
b.sort-by:before,
b.sort-by:after {
	border: 4px solid transparent;
	content: "";
	display: block;
	height: 0;
	right: 5px;
	top: 50%;
	position: absolute;
	width: 0;
}
b.sort-by:before {
	border-bottom-color: white;
	margin-top: -9px;
}
b.sort-by:after {
	border-top-color: white;
	margin-top: 1px;
}


.nbar{
	position:relative; 
	background-color:#57595D; 
	height: 1em; 
	margin-top: 2px;  
	margin-bottom: 2px;  
	cursor: auto
}
